* 
{
    margin: 0;
    padding: 0;
}

.row {
    line-height: 0;
}

#ocean {
    background-image: url("imag/ocean.jpg");
    width: 900px;
    height: 700px;
}
.player {
    position: absolute;
    background-image:url("imag/player.png");
    width: 131px;
    height: 102px;
    background-size: contain;
    display: inline-block;
}
.enemy {
    position: absolute;
    background-image: url("imag/enemy.png");
    width: 90px;
    height: 77px;
    background-size: contain;
    display: inline-block;
}
.missil {
    ´position: absolute;
    background-color: red;
    width: 2px;
    height: 10px;
}
