#ocean {
    background-image: url("imag/ocean.jpg");
    
    background-size: size;  
}
.player {
    position: absolute;
    background-image:url("imag/player.png");
    width: 70px;
    height: 75px;
    background-size: contain;
    display: inline-block;
}
.enemy {
    position: absolute;
    background-image: url("imag/enemy.png");
    width: 70px;
    height: 75px;
    background-size: contain;
    display: inline-block;
}
/*
.missiles {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5cb85c;
}
*/
.missiles {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(imag/Fire.png);
    background-size: contain;

}

