* 
{
    margin: 0;
    padding: 0;
}

.row {
    line-height: 0;
}

.wall {
    background-color: rgb(26, 179, 77);
    height: 40px;
    width: 40px;
    display: inline-block;
}

.sushi {
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('imag/sushi.png');
    background-size: contain;
}
.onigiri {
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('imag/onigiri.png');
    background-size: contain;
}

.blank {
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    display: inline-block;
}

#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('imag/ninja.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}
#ghost{
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('imag/bluey.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}
